.afdeling-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background-color: #1375D8;
    border-radius: 5px;
    border: 1px solid #0c66cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px auto;
    width: 32%;
}

.afdeling-btn:hover {
    background-color: #509cf2;
}

@media (max-width: 1023px) {
    .afdeling-btn {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .afdeling-btn {
        width: 80%;
    }
}

@media (min-width: 901px) {
    .content {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 900px) {
    .content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 760px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
}