table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.button {
    background-color: #3795ed;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #167ff7;
}

.delete {
    background-color: #EB0000;
}

.delete:hover {
    background-color: darkred;
}

h1, h2 {
    margin-bottom: 20px;
}

@media (min-width: 901px) {
    .content {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 900px) {
    .content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 760px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
}