.content a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    background-color: #167ff7;
    border-radius: 5px;
    border: 1px solid #0c66cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8 auto;
    width: 32%;
}
/* 
.content {
    display: flex;
    flex direction: column;
    align-items: center;
    justify-content: center;
} */