form input[type=text], input[type=date], input[list] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    background-color: #1375D8;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 2px;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #167ff7;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

table .button {
    background-color: #EB0000;
    padding: 5px 10px;
}

table .button:hover {
    background-color: darkred;
}

@media (max-width: 750px) {
    table {
        font-size: 14px;
    }
}

.melding {
    background-color: #d4edda;
    color: #155724;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
}
