form input[type=text], input[list], input[type=email] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form input[type=submit], .button {
    display: inline-block;
    background-color: #3795ed;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 2px;
    color: white;
    margin-right: 25px;
    text-decoration: none;
    margin-bottom: 5px;
}

form input[type=submit]:hover, .button:hover {
    background-color: #167ff7;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

td {
    color: white;
}

table button {
    background-color: #3795ed;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 25%;
}

.Toevoegen {
    background-color: green;
}

.Toevoegen:hover {
    background-color: #03ab03;
}

.Verwijderen {
    background-color: red;
}

.Verwijderen:hover {
    background-color: darkred;
}

.melding {
    background-color: #d4edda;
    color: #155724;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
}

.bestanden td {
    color: black; !important;
}