/* ------------------------------
   Algemene layout
------------------------------ */

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F2F2F2;
}

/* ------------------------------
   Header
------------------------------ */

header {
    background-color: #3795ed;
    height: 10vh;
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

header img {
    height: 80%;
    margin-left: 25px;
}

header img:hover {
    height: 85%;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    padding: 5px;
    background-color: #167ff7;
    border-radius: 5px;
    border: 1px solid #0c66cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header a:hover {
    background-color: #509cf2;
}

header a.current {
    background-color: #509cf2;
    border: 2px solid #000;
}

/* ------------------------------
   Logout button
------------------------------ */

header .logout-container {
    all: unset;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    width: auto;
}

header .logout-button {
    all: unset;
    padding: 5px;
    background: #e74c3c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header .logout-button:hover {
    background: #c0392b;
}

header a.logo-btn {
    all: unset;
    height: 80%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 1.5s ease;
}

header a.logo-btn:hover {
    height: 82%;
}

/* ------------------------------
   Content container
------------------------------ */

.content {
    background-color: white;
    padding: 30px;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 10px;
    box-sizing: border-box;
}

/* ------------------------------
   Responsive layout
------------------------------ */

@media (max-width: 850px) {
    .content {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 760px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* ------------------------------
   Mobiel menu
------------------------------ */

@media (max-width: 850px) {

    .content h1 {
        font-size: 1.5em;
    }

    header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 10vh;
        transition: transform 1.5s ease;
        overflow: hidden;
        width: 100%;
    }

    header.hide {
        transform: translateY(-110%);
    }

    header.open {
        margin-bottom: 2vh;
        height: auto;
        padding-bottom: 2vh;
    }

    header a {
        display: none;
        width: 60%;
        text-align: center;
        margin: 10px auto 0;
        font-size: 20px;
    }

    header .logout-button {
        display: none;
        margin-top: 10px;
    }

    header.open .logout-button {
        display: block;
    }

    header.open a {
        display: block;
    }

    header img {
        height: 8vh;
        margin-left: 5px;
        margin-top: 12px;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

@media (min-width: 851px) {
    .menu-button {
        display: none;
    }
}
