body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #F2F2F2;
}

header {
    background-color: #3795ed;
    height: 10vh;
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

header img {
    height: 80%;
    margin-left: 25px;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    padding: 5px;
    background-color: #167ff7;
    border-radius: 5px;
    border: 1px solid #0c66cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.current {
    background-color: #509cf2;
    border: 1px solid #000000;
    border-width: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header a:hover {
    background-color: #509cf2;
}

.content {
    background-color: white;
    padding: 30px;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .content {
        margin-left: 20%;
        margin-right: 20%;
    }

    .username, .userrole, .No-Mobile {
        display: none;
    }

    .header a {
        margin-left: 10px;
        padding: 5px 10px;
    }
}

@media (max-width: 760px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Mobiel menu standaard verborgen */
@media (max-width: 760px) {

    header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 10vh;
        transition: height 0.3s ease;
        overflow: hidden;
    }

    header.open {
        height: auto;
    }

    header a {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        gap: 10px;
    }

    header.open {
        display: flex;
    }

    header a {
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
    }

    header.open a {
        display: block;
        /* transition: display 1.3s ease; */
    }

    .No-Mobile {
        display: none !important;
    }

    .content h1 {
        font-size: 24px;
    }
}


@media (max-width: 760px) {
    header a {
        margin: 5px;
        width: 30%;
        font-size: 20px;
    }
}

@media (max-width: 760px) {
    header img {
        height: 8vh;
        margin-left: 5px;
        margin-top: 5px;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

@media (min-width: 761px) {
    .menu-button {
        display: none;
    }
}