.content {
    background-color: white;
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}